<div class="container">
    <h2 *ngIf="!editarPelicula" class="d-block text-center mt-5 mb-5">Cargar nueva película</h2>
    <h2 *ngIf="editarPelicula" class="d-block text-center mt-5 mb-5">Editar película</h2>

    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="form-cargar-pelicula">
                <form [formGroup]="formularioPelicula">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título de la película</label>
                        <input type="text" class="form-control" id="titulo" formControlName="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="director" class="form-label">Director</label>
                        <input type="text" class="form-control" id="director" formControlName="director">
                    </div>
                    <div class="mb-3">
                        <label for="anio" class="form-label">Año</label>
                        <input type="number" class="form-control" id="anio" formControlName="year">
                    </div>
                    <div class="mb-3">
                        <label for="duracion" class="form-label">Duración</label>
                        <input type="number" class="form-control" id="duracion" formControlName="duracion">
                    </div>
                    <div class="mb-3">
                        <label for="portada" class="form-label">Imagen de portada (enlace)</label>
                        <input type="text" class="form-control" id="portada" formControlName="fotoPelicula" (change)="cargarImagen($event)">
                    </div>
                    <div class="mb-3">
                        <label for="portada" class="form-label">Seleccione categoría</label>
                        <select class="form-select" aria-label="Default select example" formControlName="id_categoria">
                            <option *ngFor="let categoria of categorias"value="{{categoria.id_categoria}}">{{categoria.nombre}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
                    </div>
                    <div class="d-grid gap-2 ">
                        <button *ngIf="!editarPelicula" class="btn btn-primary" (click)="onSubmit(formularioPelicula.value)" type="submit" [disabled]="!verificarFormulario()">Crear película</button>
                        <button *ngIf="editarPelicula" class="btn btn-success" (click)="modificarPelicula(formularioPelicula.value)" [disabled]="!verificarFormulario()">Guardar cambios</button>
                        <button *ngIf="editarPelicula" class="btn btn-danger" (click)="eliminarPelicula(formularioPelicula.value.id_pelicula)" [disabled]="!verificarFormulario()">Eliminar película</button>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <div class="card-pelicula">
                <img src="{{imagenPrevisualizada.length < 20  ? 'assets/not-found.png' : imagenPrevisualizada}}">
            </div>
        </div>
        <div class="col-md-10 mt-5">
            <div *ngIf="cambioCorrecto" class="alert alert-success d-block" role="alert">
                {{mensaje}}
            </div>
            <div *ngIf="errorOcurrido" class="alert alert-danger" role="alert">
                {{mensaje}}
            </div>
        </div>
    </div>

</div>