<div class="container">
    <h2 class="d-block text-center mt-5 mb-5">Cargar nueva película</h2>

    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="form-cargar-pelicula">
                <form action="">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título de la película</label>
                        <input type="text" class="form-control" id="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="director" class="form-label">Director</label>
                        <input type="text" class="form-control" id="director">
                    </div>
                    <div class="mb-3">
                        <label for="anio" class="form-label">Año</label>
                        <input type="number" class="form-control" id="anio">
                    </div>
                    <div class="mb-3">
                        <label for="duracion" class="form-label">Duración</label>
                        <input type="time" class="form-control" id="duracion">
                    </div>
                    <div class="mb-3">
                        <label for="portada" class="form-label">Imagen de portada (enlace)</label>
                        <input type="text" class="form-control" id="portada">
                    </div>
                    <div class="mb-3">
                        <label for="portada" class="form-label">Seleccione categoría</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="d-grid gap-2 ">
                        <button class="btn btn-primary" type="button">Crear película</button>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <div class="card-pelicula">
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-10 mt-5">
            <div class="alert alert-success d-block" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
        </div>
    </div>

</div>