<h2 class="d-block text-center mt-5">Catálogo de películas</h2>

<section class="container">

    <div class="row p-3">
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <!-- <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div> -->
                <div class="favorito" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <i class="fa-solid fa-star"></i>
                </div>
                <!-- <div class="favorito" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                    <i class="fa-regular fa-star"></i>
                </div> -->
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <!-- <div class="favorito" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    <i class="fa-solid fa-star"></i>
                </div> -->
                <div class="favorito" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                    <i class="fa-regular fa-star"></i>
                </div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-4 mb-4 d-flex justify-content-center align-items-center">
            <div class="card-pelicula">
                <div class="editar"><i class="fa-solid fa-pen-to-square"></i></div>
                <h4>Titulo card</h4>
                <span>2023</span>
                <div class="gradiente"></div>
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
    </div>

</section>

<!-- Modales de favoritos -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Agregar a Favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Eliminar de Favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Toast notificacion -->

<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="notificacion modal-body">
            <p>Texto de la notificacion</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    </div>
</div>

<button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Open first modal</button>
