<div class="container">
    <h2 class="mt-4 mb-4 text-center">Detalles de la película</h2>
    <div *ngIf="peliculaSeleccionada != null" class="row d-flex justify-content-center">
        <div class="col-md-5 d-flex justify-content-end me-3">
            <div class="card-pelicula">
                <img src="{{imagenPrevisualizada.length < 20  ? 'assets/not-found.png' : imagenPrevisualizada}}">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-cargar-pelicula">
                <h3>Titulo</h3>
                <p class="mt-3">{{peliculaSeleccionada.titulo}}</p>

                <h4>Director</h4>
                <p class="mt-3">{{peliculaSeleccionada.director}}</p>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <h6 class="text-center">Año</h6>
                        <p class="text-center">{{peliculaSeleccionada.year}}</p>
                    </div>
                    <div class="col-4">
                        <h6 class="text-center">Duracion</h6>
                        <p class="text-center">{{peliculaSeleccionada.duracion}} min.</p>
                    </div>
                    <div class="col-4">
                        <h6 class="text-center">Categoria</h6>
                        <p class="text-center">{{categoriaPelicula}}</p>
                    </div>
                </div>
                <hr>
                <h4>Descripcion</h4>
                <p class="mt-3">{{peliculaSeleccionada.descripcion}}</p>
            </div>
        </div>
    </div>

</div>