.navbar {
    background-color: rgb(30, 30, 30);
    border-radius: 0px 0px 5px 5px;
}

.logo {
    height: 75px;
}

.nav-item > .nav-link {
    color: rgb(220, 220, 220);
}

.nav-item > .nav-link:hover{
    color: rgb(36, 140, 180);
}

.contenedor {
    width: 100%;
    min-height: 100%;
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-usuario h4 {
    color: aliceblue;
    padding: 0px;
    margin: 0px;

}

.nav-usuario img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}