<div class="container">
    <h2 class="d-block text-center mt-5 mb-5">Editar perfíl</h2>

    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="form-usuario">
                <form action="">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="correo">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                    <div class="mb-3">
                        <label for="foto-perfil" class="form-label">Imagen de perfil (enlace)</label>
                        <input type="text" class="form-control" id="foto-perfil">
                    </div>
                    <div class="d-grid gap-2 mb-2">
                        <button class="btn btn-primary" type="button">Guardar cambios</button>
                    </div>
                    <div class="d-grid gap-2 ">
                        <button class="btn btn-danger" type="button">Eliminar cuenta</button>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <div class="imagen-usuario">
                <img src="assets/not-found.png" alt="imagen-portada">
            </div>
        </div>
        <div class="col-md-10 mt-5">
            <div class="alert alert-success d-block" role="alert">
                A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
        </div>
    </div>
</div>