<div class="container">

    <div class="form-registro">
        <h2 class="mb-5">Registrarse</h2>
        <form class="form-floating mb-3" [formGroup]="formularioRegistro" (ngSubmit)="onSubmit(formularioRegistro.value)">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" formControlName="nombre">
                <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" formControlName="correo_electronico">
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" formControlName="password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" formControlName="fotoUsuario">
                <label for="floatingPassword">Foto de perfil (enlace)</label>
            </div>
        
            <div class="d-grid gap-2 ">
                <button class="btn btn-primary" type="submit">Crear cuenta</button>
            </div>
        </form>
        <div *ngIf="errorOcurrido"class="alert alert-danger" role="alert">
            Error al crear usuario, intente nuevamente
        </div>
        <div *ngIf="usuarioRegistrado"class="alert alert-success" role="alert">
            Usuario registrado exitosamente
        </div>
        <hr>
        <p>Ya tienes una cuenta? <a [routerLink]="'/iniciar-sesion'">Iniciar Sesión</a> </p>
    </div>
</div>